<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HD.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HD.GameSettings>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsFullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>nexus.playasteria.com</value>
            </setting>
            <setting name="AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>1701</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SoundEffectVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SelectedSkin" serializeAs="String">
                <value>0</value>
            </setting>
        </HD.GameSettings>
    </userSettings>
</configuration>