<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nubik.Tools.SpriteFont.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nubik.Tools.SpriteFont.Properties.Settings>
            <setting name="IsLoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggingPriority" serializeAs="String">
                <value>Warning</value>
            </setting>
            <setting name="LoggingFileName" serializeAs="String">
                <value>Logging.txt</value>
            </setting>
            <setting name="LoggingMaximumFileSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="DefaultFontDesign" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Nubik.Tools.SpriteFont.Properties.Settings>
    </applicationSettings>
</configuration>